@import '../../themes';
@import '../../spaces';
@import '../../queries';

#Projects {
  display: flex;
  flex-flow: column;
  padding: $s-7 0;
  margin-bottom: $s-7;
  background-color: $dark-700;
}

.projects-section {
  width: 60vw;
  margin: $s-0 auto;
  h1.section-heading {
    margin-bottom: $s-4;
    color: $light-200;
  }
  @include lg {
    width: 70vw;
  }
  @include md {
    width: 80vw;
  }
  @include sm {
    width: 80vw;
  }
  @include xs {
    width: 90vw;
  }
}

.projects-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}