@import '../../themes';
@import '../../spaces';
@import '../../queries';

#ProjectCard {
  position: relative;
  width: calc(33% - $s-3);
  min-width: 350px;
  margin: $s-2 0;
  border-radius: $br-1;
  background-color: $dark-500;
  box-shadow: $box-shadow-10, $box-shadow-10-lt, $box-shadow-15;
  @include lg {
    width: calc(33% - $s-4);
    max-width: 450px;
    margin: $s-2;
  }
  @include md {
    width: calc(50% - $s-4);
    max-width: 450px;
    min-width: 280px;
    margin: $s-2 $s-1;
    &:first-child,
    &:nth-child(3) {
      margin-left: 0;
    }
    &:last-child,
    &:nth-child(2) {
      margin-right: 0;
    }
  }
  @include sm {
    width: 70%;
    max-width: 450px;
    min-width: 280px;
    margin: $s-1;
    &:first-child {
      margin-top: $s-2;
    }
  }
  @include xs {
    width: 70%;
    min-width: 280px;
    margin: $s-1 0;
  }
  .project-img {
    width: 100%;
    filter: grayscale(1) brightness(0.85);
    border-top-left-radius: $br-1;
    border-top-right-radius: $br-1;
    margin-bottom: $sn-1;
  }
  .image-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: calc(100% - $s-4 - $font-size-md - (2 * ($s-1 * 1.5)) - 4px);
    background-image: $gradient-primary;
    color: $light-100;
    border-top-left-radius: $br-1;
    border-top-right-radius: $br-1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: $s-5;
    opacity: 0;
    transition: opacity 0.5s linear;
    @include md {
      height: calc(100% - $s-4 - $font-size-sm - (2 * $s-1) - 4px);
    }
    @include sm {
      height: calc(100% - $s-4 - $font-size-sm - (2 * $s-1) - 4px);
    }
    @include xs {
      height: calc(100% - $s-4 - $font-size-sm - (2 * $s-1) - 4px);
    }
    &:hover {
      opacity: 1;
      > * {
        transform: translateY(0);
      }
    }
    > * {
      transform: translateY(20);
      transition: transform 0.5s;
    }
    h1.project-title {
      font-size: $font-size-3xl;
      letter-spacing: $letter-spacing-sm;
      margin-bottom: $s-0;
      margin-top: $s-0;
      z-index: 2;
    }
    h2.project-subtitle {
      font-size: $font-size-xl;
      font-weight: 400;
      margin-top: $s-1;
      z-index: 2;
      @include md {
        font-size: $font-size-lg;
      }
      @include sm {
        font-size: $font-size-lg;
      }
      @include xs {
        font-size: $font-size-lg;
      }
    }
  }
  .project-link-container {
    display: flex;
    justify-content: center;
    padding-top: $s-2;
    padding-bottom: $s-2;
    .btn-project-card {
      font-size: $font-size-md;
      text-decoration: none;
      padding: calc($s-1 * 1.5);
      margin: 0 $s-1;
      @include md {
        font-size: $font-size-sm;
        padding: $s-1;
      }
      @include sm {
        font-size: $font-size-sm;
        padding: $s-1;
      }
      @include xs {
        font-size: $font-size-sm;
        padding: $s-1;
      }
    }
  }
}