@import '../../themes';
@import '../../spaces';
@import '../../queries';

#Skills {
  padding: $s-7 0;
  background-color: $dark-700;
}

.skills-list {
  width: 60vw;
  display: flex;
  flex-direction: row;
  margin: $s-0 auto;
  margin-top: calc($font-size-xl + $s-7);
  @include lg {
    flex-direction: column;
    width: 70vw;
  }
  @include md {
    width: 80vw;
    flex-direction: column;
  }
  @include sm {
    width: 80vw;
    flex-direction: column;
    margin-top: $s-6;
  }
  @include xs {
    width: 90vw;
    flex-direction: column;
    margin-top: $s-6;
  }
}
h1.section-heading {
  width: 60vw;
  margin: $s-0 auto;
  @include lg {
    width: 70vw;
  }
  @include md {
    width: 80vw;
  }
  @include sm {
    width: 80vw;
  }
  @include xs {
    width: 90vw;
  }
}

.skills-section {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: $s-2;
  padding: $s-2;
  background-color: $dark-500;
  border-radius: $br-1;
  box-shadow: $box-shadow-10, $box-shadow-10-lt, $box-shadow-15-lt;
  &:first-child {
    margin-left: $s-0;
  }
  &:last-child {
    margin-right: $s-0;
  }
  @include lg {
    margin: $s-5 $s-0;
    align-items: flex-start;
    &:first-child {
      margin-top: $s-2;
    }
    &:last-child {
      margin-bottom: $s-2;
    }
  }
  @include md {
    margin: calc($s-4 + $s-1) $s-0;
    align-items: flex-start;
    &:first-child {
      margin-top: $s-1;
    }
    &:last-child {
      margin-bottom: $s-1;
    }
  }
  @include sm {
    margin: $s-4 $s-0;
    &:first-child {
      margin-top: $s-0;
    }
    &:last-child {
      margin-bottom: $s-0;
    }
  }
  @include xs {
    margin: $s-4 $s-0;
    &:first-child {
      margin-top: $s-0;
    }
    &:last-child {
      margin-bottom: $s-0;
    }
  }
  h2.skills-subheading {
    position: absolute;
    top: $sn-6;
    left: $s-0;
    font-size: $font-size-3xl;
    font-weight: 600;
    text-transform: uppercase;
    margin: $s-0;
    @include md {
      font-size: $font-size-2xl;
      top: $sn-5;
    }
    @include sm {
      font-size: $font-size-xl;
      top: calc($sn-4 + $sn-1);
    }
    @include xs {
      font-size: $font-size-xl;
      top: $sn-4;
    }
  }
  ul {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    padding: $s-0;
    margin: $s-0;
    @include lg {
      justify-content: flex-start;
    }
    @include md {
      justify-content: flex-start;
    }
  }
  li {
    list-style-type: none;
    font-size: $font-size-lg;
    background-color: $primary-300;
    padding: $s-1 $s-2;
    border-radius: $br-1;
    box-shadow: $box-shadow-10-lt, $box-shadow-15-lt;
    margin: $s-1;
    @include md {
      font-size: $font-size-md;
    }
    @include sm {
      font-size: $font-size-sm;
    }
    @include xs {
      font-size: $font-size-sm;
    }
  }
}


