@import '../../themes';
@import '../../spaces';
@import '../../queries';

#Skills {
  padding: $s-7 0;
  background-color: $dark-700;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.skills-list {
  width: 60vw;
  display: flex;
  flex-direction: row;
  margin-top: $s-4;
  @include lg {
    width: 75vw;
    flex-flow: row wrap;
    justify-content: center;
  }
  @include md {
    width: 80vw;
    flex-flow: row wrap;
    justify-content: center;
  }
  @include sm {
    width: 80vw;
    flex-direction: column;
  }
  @include xs {
    width: 90vw;
    flex-direction: column;
  }
}
h1.section-heading {
  width: 60vw;
  margin: $s-0;
  @include lg {
    width: 75vw;
  }
  @include md {
    width: 80vw;
  }
  @include sm {
    width: 80vw;
  }
  @include xs {
    width: 90vw;
  }
}

.skills-section {
  text-align: center;
  width: 33%;
  margin: $s-2;
  padding: $s-3 calc($s-1 * 1.5);
  background-color: $dark-500;
  border-radius: $br-1;
  box-shadow: $box-shadow-10, $box-shadow-10-lt, $box-shadow-15-lt;
  &:first-child {
    margin-left: $s-0;
  }
  &:last-child {
    margin-right: $s-0;
  }
  @include lg {
    width: calc(50% - $s-4);
    &:last-child {
      margin-left: $s-0;
    }
  }
  @include md {
    width: calc(50% - $s-4);
    &:last-child {
      margin-left: $s-0;
    }
  }
  @include sm {
    width: 100%;
    margin-left: $s-0;
    margin-right: $s-0;
  }
  @include xs {
    width: 100%;
    margin-left: $s-0;
    margin-right: $s-0;
  }
  h2.skills-subheading {
    font-size: $font-size-2xl;
    font-weight: 600;
    color: $primary-100;
    text-transform: uppercase;
    margin: $s-0;
    margin-bottom: $s-2;
    @include sm {
      font-size: $font-size-xl;
    }
    @include xs {
      font-size: $font-size-xl;
    }
  }
  ul {
    padding: $s-0;
    margin: $s-0;
  }
  li {
    text-align: center;
    list-style-type: none;
    font-size: $font-size-xl;
    padding: calc($s-1 / 2);
    @include md {
      font-size: $font-size-lg;
    }
    @include sm {
      font-size: $font-size-lg;
    }
    @include xs {
      font-size: $font-size-md;
    }
  }
}


