@import '../../themes';
@import '../../spaces';
@import '../../queries';

#Contact {
  height: 100vh;
  width: 60vw;
  display: flex;
  flex-flow: column;
  justify-content: center;
  margin: $s-0 auto;
  @include lg {
    width: 75vw;
  }
  @include md {
    width: 80vw;
  }
  @include sm {
    width: 80vw;
  }
  @include xs {
    width: 90vw;
  }
  h1.section-heading {
    text-align: center;
  }
  p {
    font-size: $font-size-xl;
    text-align: center;
    @include md {
      font-size: $font-size-xl;
    }
    @include sm {
      font-size: $font-size-lg;
    }
    @include xs {
      font-size: $font-size-lg;
    }
  }
  .contact-links {
    color: $accent-100;
    margin: $s-1;
    text-decoration: none;
    transition: 0.3s linear;
    cursor: pointer;
    &:last-child {
      margin-right: $s-0;
    }
    &:hover {
      color: $accent-200;
    }
  }
}
