@import '../../themes';
@import '../../spaces';
@import '../../queries';

#Navbar {
  display: flex;
  justify-content: center;
  height: 35px;
  margin: $s-3 0;
  @include xs {
    height: 110px;
    margin-bottom: $s-2;
  }
  .navbar-nav {
    display: inherit;
    justify-content: space-evenly;
    width: 50%;
    align-items: center;
    @include md {
      width: 65%;
    }
    @include sm {
      width: 85%;
    }
    @include xs {
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
    }
    .nav-link {
      font-family: $font-family-heading;
      font-size: $font-size-lg;
      letter-spacing: $letter-spacing-md;
      color: $light-200;
      text-decoration: none;
      text-transform: uppercase;
      transition: 0.3s;
      cursor: pointer;
      &:hover,
      &:focus {
        color: $accent-100;
      }
      @include md {
        font-size: $font-size-md;
      }
      @include sm {
        font-size: $font-size-md;
      }
      @include xs {
        font-size: $font-size-md;
      }
    }
  }
}

