@import '../../themes';
@import '../../spaces';
@import '../../queries';

#Footer {
  height: 20vh;
  margin-top: $s-2;
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: $gradient-primary;
  padding: $s-2 0;
  opacity: 0.9;
  .footer-text {
    height: fit-content;
    font-size: $font-size-xl;
    margin: $s-1 0;
    @include sm {
      font-size: $font-size-lg;
      text-align: center;
    }
    @include xs {
      font-size: $font-size-lg;
      text-align: center;
    }
  }
  .footer-links {
    display: inherit;
    justify-content: space-evenly;
    width: 50%;
    height: fit-content;
    margin: $s-1 0;
    @include md {
      width: 65%;
    }
    @include sm {
      width: 80%;
    }
    @include xs {
      width: 90%;
      margin: $s-0;
    }
  }
  .footer-icons {
    transition: opacity 0.5s;
    &:hover,
    &:focus {
      opacity: 0.6;
    }
  }
}

.footer-copyright {
  text-align: center;
  font-size: $font-size-lg;
  @include md {
    font-size: $font-size-lg;
  }
  @include sm {
    font-size: $font-size-md;
  }
  @include xs {
    font-size: $font-size-md;
  }
}
